<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="data science in the wild">
    <meta name="author" content="data science in the wild">

    <!-- https://www.flickr.com/photos/rebeccadauria/6991819307/in/photolist-bDQUhK-7RW8E7-enYPUT-28TBP-sv2s7v-82PZfQ-Svm5b-5gMsJr-oUqmeT-5zKBWo-6zhaZA-4R9my5-yqhzM-f269yC-5H1jAP-4aR5VM-6q2SvE-atRF1C-5aXWGf-73XxiK-5UFYaW-4ZqsPM-uqYAV-fmELtH-5XCAU1-oMTA6-6BDxED-JeczN-bzexey-cA1Vk5-6yZC8o-p8jJBT-ogQu7o-5uszHf-8diHpB-akxWWv-arwYNF-ofWeJD-9dKW6E-7gxJ8X-Xoo8Ef-oe2Yaa-9dKW1j-4u4Nex-6vrdZA-6UZLN2-fL6F53-4wJKw8-fL6K6m-MECJ3/ -->
    <link rel="shortcut icon" href="{{site_prefix}}/static/favicon-16x16.png">

    <title>Data Science in the Wild</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{site_prefix}}/static/css/bootstrap.min.css">

    <!-- Custom styles for this scaffold -->
    <link rel="stylesheet" href="{{site_prefix}}/static/css/theme.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" integrity="sha384-f1r2UzjsxZ9T4V1f2zBO/evUqSEOpeaUUZcMTz1Up63bl4ruYnFYeM+BxI4NhyI0" crossorigin="anonymous"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="col-12">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills float-right">
                <li class="nav-item">
                  <a class="nav-link" href="https://classes.cornell.edu/browse/roster/SP18/class/CS/5304">Class Roster</a>
                </li>
              </ul>
            </nav>
            <h3><a href="/">CS 5304: Data Science in the Wild</a></h3>
          </div>
        </div>
      </div>

      <div class="row section">
        <div class="col-12">
          <h4>Overview</h4>
          <p>Massive amounts of data are collected by many companies and organizations and the task of a data scientist is to extract actionable knowledge from the data – for scientific needs, to improve public health, to promote businesses, for social studies and for various other purposes. This course will focus on the practical aspects of the field and will attempt to provide a comprehensive set of tools for extracting knowledge from data.</p>
          <p>Meets: MW 4:45pm - 6:00pm</p>
        </div>
      </div>

      <div class="row section">
        <div class="col-12">
          <h4>Syllabus</h4>
          <table class="table table-sm borderless syllabus">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Topic</th>
                <th scope="col">Assignment</th>
              </tr>
            </thead>
            <tbody>
              {% for item in syllabus %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{item.date}}</td>
                <td>{{item.topic}}</td>
                <td>{{item.assignment}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row section">
        <div class="col-12">
          <h4>Summary of Topics</h4>

          <p>
            These descriptions only cover a brief non-exhaustive list of topics in the course.
          </p>

          <dl>
            <dt class="font-italic">Machine Learning in Health Care.</dt>
            <dd>

              We will cover various topics in the health care space including ML for wellness (such as detecting depression through social media), analyzing doctorial notes, image classification in the context of disease, and general collection and use of medical data. 
            </dd>
            <dd  data-linkify="this">
              Related links: https://mlhc17mit.github.io/ https://arxiv.org/abs/1705.09585 http://techtalks.tv/talks/how-can-nlp-help-cure-cancer/62223/
            </dd>

            <dt class="font-italic">Machine Learning and Security.</dt>
            <dd>

              Machine learning models are ubiquitously used in systems we interact with every day. We'll discuss techniques to update parameters and perform inference in a <it>secure</it> way. In addition, we'll talk about adversarial attack that fool models. 
            </dd>
            <dd  data-linkify="this">
              Related links: https://arxiv.org/pdf/1709.02753.pdf https://www.kaggle.com/c/nips-2017-defense-against-adversarial-attack
            </dd>

            <dt class="font-italic">Topics in NLP and Information Retrieval.</dt>
            <dd>

              There are many interesting tasks at the intersection of text processing and machine learning. For instance, knowledge base construction, learning to query, natural language inference, question answering, and neural machine translation are a handful of tasks that have seen increased attention in the research community in recent years. 
            </dd>
            <dd  data-linkify="this">
              Related links: http://www.cs.cornell.edu/courses/cs6741/2017fa/
            </dd>

            <dt class="font-italic">Topics in Computer Vision and Fashion Mining.</dt>
            <dd>

              Fashion is fashionable in the ML community. MNIST has recently been refreshed with Fashion MNIST. The Deep Fashion dataset contains 800k annotated images with a handful of associated tasks. Not to mention it has benefited from a wealth of existing research in computer vision.
            </dd>
            <dd  data-linkify="this">
              Related links: http://mmlab.ie.cuhk.edu.hk/projects/DeepFashion.html https://canvas.instructure.com/courses/904706 https://www.kaggle.com/c/imagenet-object-detection-challenge
            </dd>
          </dl>
        </div>
      </div>

      <div class="row section">
        <div class="col-12">
          <h4>Grading Scheme</h4>
          <table class="table table-sm borderless"><!-- Top Level Category -->
            <thead>
              <tr>
                <th scope="col">Top Level Category</th>
                <th scope="col">Grade Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Assignments</td>
                <td>60%</td>
              </tr>
              <tr>
                <td>Project</td>
                <td>40%</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-sm borderless"><!-- Assignments -->
            <thead>
              <tr>
                <th scope="col">Assignments</th>
                <th scope="col">Category Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Assign 0</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>Assign 1</td>
                <td>15%</td>
              </tr>
              <tr>
                <td>Assign 2</td>
                <td>15%</td>
              </tr>
              <tr>
                <td>Assign 3</td>
                <td>15%</td>
              </tr>
              <tr>
                <td>Assign 4</td>
                <td>15%</td>
              </tr>
              <tr>
                <td>Assign 5</td>
                <td>15%</td>
              </tr>
              <tr>
                <td>Assign 6</td>
                <td>15%</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-sm borderless"><!-- Project -->
            <thead>
              <tr>
                <th scope="col">Project</th>
                <th scope="col">Category Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Part 0</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>Part 1</td>
                <td>30%</td>
              </tr>
              <tr>
                <td>Part 2</td>
                <td>30%</td>
              </tr>
              <tr>
                <td>Final Part</td>
                <td>30%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site_prefix}}/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="{{site_prefix}}/static/js/popper.min.js"></script>
    <script src="{{site_prefix}}/static/js/bootstrap.min.js"></script>

    <!-- Other JavaScript
    ================================================== -->
    <script src="{{site_prefix}}/static/js/linkify.min.js"></script>
    <script src="{{site_prefix}}/static/js/linkify-jquery.min.js"></script>
  </body>
</html>