/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Side spacing */
.header,
.footer {
  margin-bottom: 3rem;
  padding-right: 0;
  padding-left: 0;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  line-height: 2.5rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
.container {
  min-width: 52rem;
  max-width: 52rem;
}

.container-narrow > hr {
  margin: 2rem 0;
}

/* Table style */
.borderless td, .borderless th {
  border-top: none;
}

.table {
  width: auto;
}

.syllabus.table tr:nth-child(odd) td{
  background-color: #dddfe2;
}

/* Section style */
.section {
  margin-bottom: 3rem;
}